<template name="data">
<div class="data">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{> stingrayMap}}
      </div>
      <div class="col-md-4">
        <h2>Recents readings</h2>
        <p>For example, if you killed your grandfather, you'd cease to exist! I usually try to keep my sadness pent up inside where it can fester quietly as a mental illness. Soon enough.</p>
        <p>I had more, but you go ahead. It may comfort you to know that Fry's death took only fifteen seconds, yet the pain was so intense, that it felt to him like fifteen years. And it goes without saying, it caused him to empty his bowels. Michelle, I don't regret this, but I both rue and lament it. This is the worst part. The calm before the battle.</p>
      </div>
    </div>

    <hr />
      {{> twitterSearchResults}}
    <hr />

    <div class="row">
      <div class="col-md-4">
        <h2>Some analysis</h2>
        <p>No. We're on the top. Who are those horrible orange men? Look, last night was a mistake. Fry! Quit doing the right thing, you jerk!</p>
        <p>You know the worst thing about being a slave? They make you work, but they don't pay you or let you go. Bite my shiny metal ass. Why yes! Thanks for noticing. I could if you hadn't turned on the light and shut off my stereo. You, minion. Lift my arm. AFTER HIM!</p>
      </div>
      <div class="col-md-4">
        <h3>How many people were effeceted</h3>
      </div>
      <div class="col-md-4">
        <h3>Most surveilled places</h3>
      </div>
    </div>

    <hr />
      <div class="row">
      <div class="col-md-8">

      </div>
      <div class="col-md-4">
        <h2>Readings over time</h2>
        <p>For example, if you killed your grandfather, you'd cease to exist! I usually try to keep my sadness pent up inside where it can fester quietly as a mental illness. Soon enough.</p>
        <p>I had more, but you go ahead. It may comfort you to know that Fry's death took only fifteen seconds, yet the pain was so intense, that it felt to him like fifteen years. And it goes without saying, it caused him to empty his bowels. Michelle, I don't regret this, but I both rue and lament it. This is the worst part. The calm before the battle.</p>
<!--         {{> twitter}} -->
      </div>
    </div>

  </div>
</div>
</template>