<template name="data">
<div class="data">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{> stingrayMap}}
      </div>
      <div class="col-md-4">
        <h2>Recents readings</h2>
      </div>
    </div>

    <hr />
<!--       {{> twitterSearchResults}}
    <hr /> -->

    <div class="row">
      <div class="col-md-4">
        <h2>Some analysis</h2>
      </div>
      <div class="col-md-4">
        <h3>How many people were affected</h3>
      </div>
      <div class="col-md-4">
        <h3>Most surveilled places</h3>
        {{> stateRankingChart}}
      </div>
    </div>

    <hr />
      <div class="row">
      <div class="col-md-8">
        {{> historicalReadings}}
      </div>
      <div class="col-md-4">
        <h2>Readings over time</h2>
        <!--         {{> twitter}} -->
      </div>
    </div>

  </div>
</div>
</template>