<template name="recentStingrayReadings">
  <div id='legend' style='display:none;'>
    <strong>Stingray Detections</strong>
    <nav class='legend clearfix'>
      <span style='background:#F1EEF6;'></span>
      <span style='background:#0DE5F8;'></span>
      <span style='background:#5DF581;'></span>
      <span style='background:#FBBE2C;'></span>
      <span style='background:#F50909;'></span>
      <label>0 - 2</label>
      <label>2 - 5</label>
      <label>5 - 20</label>
      <label>20 - 100</label>
      <label>100+</label>
      <small>Based on readings recorded within past week</small>
      </nav>
  </div>
  <div id="map" class="map"></div>
</template>