#map {
  height: 40em;
  min-height: 40em;
}

.map-info {
  background-color: #EAEAEA;
}

.map-div {
   padding: 0 !important;
   margin: 0 !important;
}

.data {
  margin: 4em ;
}

.legend label,
.legend span {
  display:block;
  float:left;
  height:15px;
  width:20%;
  text-align:center;
  font-size:9px;
  color:#808080;
  }

.data hr {
  margin-top: 3em;
}