@font-face {
	font-family: "Flaticon";
	src: url("flaticon/flaticon.eot");
	src: url("flaticon/flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon/flaticon.woff") format("woff"),
	url("flaticon/flaticon.ttf") format("truetype"),
	url("flaticon/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
  font-size: 1em;
font-style: normal;
margin-right: 0.5em;
}.flaticon-check30:before {
	content: "\e000";
}
.flaticon-identification27:before {
	content: "\e001";
}
.flaticon-pin67:before {
	content: "\e002";
}
.flaticon-speechbubble56:before {
	content: "\e003";
}
.flaticon-telephone114:before {
	content: "\e004";
}
