.learn-more-button {
  font-size: 50px;
}

.text-dark {
  color: black;
}

#map {
  height: 100%;
  min-height: 100%
}

.map-info {
  background-color: #EAEAEA;
}

.map-div {
   padding: 0 !important;
   margin: 0 !important;
}

.protect-yourself {
  font-size: 1em;
}

.home-title-1 {
  padding-top: 5%;
}

.home-title-2 {
  padding-top: 25%;
}

.home-title-3 {
  padding-top: 5%;
}