@import "variables";

#home-problem {
  background-image: url("/home/home-problem.jpg");
  background-size:   cover;                      /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  padding: 0 !important;
  margin: 0 !important;
}

#home-ndas {
  background-image: url("/home/ndas.jpg");
  background-size:   cover;                      /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  padding: 0 !important;
  margin: 0 !important;
}

#home-first-amendment {
  background-image: url("/home/first-amendment.jpg");
  background-size:   cover;                      /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  padding: 0 !important;
  margin: 0 !important;
}

.flag {
  display: inline-block;
  width: 100%;
}

.flag-col {
  padding: 0 !important;
  margin: 0 !important;
}

.flag-new {
  padding-right: 0 !important;
  margin-right: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
  padding-left: 0 !important;
}

.flag-last {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
  padding-right: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
}
