<template name="homeFlags">
<p>
  At least <a href="https://www.aclu.org/map/stingray-tracking-devices-whos-got-them#agencies">22 states</a> use Stingrays
</p>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <img src="home/flags/alaska.jpg" class="flag img-responsive">
    <img src="home/flags/arizona.jpg" class="flag img-responsive">
    <img src="home/flags/california.jpg" class="flag img-responsive">
    <img src="home/flags/delaware.jpg" class="flag img-responsive">
    <img src="home/flags/florida.jpg" class="flag img-responsive">
    <img src="home/flags/georgia.jpg" class="flag img-responsive">
  </div>

  <div class="flag-row">
    <div class="col-md-8 col-md-offset-2">
      <img src="home/flags/idaho.jpg" class="flag img-responsive">
      <img src="home/flags/alaska.jpg" class="flag img-responsive">
      <img src="home/flags/alaska.jpg" class="flag img-responsive">
      <img src="home/flags/alaska.jpg" class="flag img-responsive">
      <img src="home/flags/alaska.jpg" class="flag img-responsive">
      <img src="home/flags/alaska.jpg" class="flag img-responsive">
    </div>
  </div>
  <div class="flag-row">
    <div class="col-md-8 col-md-offset-2">
      <img src="home/flags/alaska.jpg" class="flag img-responsive">
      <img src="home/flags/alaska.jpg" class="flag img-responsive">
      <img src="home/flags/alaska.jpg" class="flag img-responsive">
      <img src="home/flags/alaska.jpg" class="flag img-responsive">
      <img src="home/flags/alaska.jpg" class="flag img-responsive">
      <img src="home/flags/alaska.jpg" class="flag img-responsive">
    </div>
  </div>
  <div class="flag-row">
    <div class="col-md-8 col-md-offset-2">
      <img src="home/flags/alaska.jpg" class="flag img-responsive">
      <img src="home/flags/alaska.jpg" class="flag img-responsive">
      <img src="home/flags/alaska.jpg" class="flag img-responsive">
      <img src="home/flags/alaska.jpg" class="flag img-responsive">
    </div>
  </div>
</div>
</template>