<template name="home">
<div id="home">
<div id="home-intro">
  <div class="container-fluid home">
    {{> homeIntro}}
  </div>
</div>
<div id="home-app">
  <div class="container-fluid">
    {{> homeApp}}
  </div>
</div>
<div class="home-03-explanation1">
  <div class="container-fluid">
    <p>
      Stingrays are mobile devices that <a href="https://www.aclu.org/issues/privacy-technology/surveillance-technologies/stingray-tracking-devices">simulate cell phone towers</a>
    </p>
  </div>
</div>
<div class="home-03-explanation2">
  <div class="container-fluid">
    <p>
      Forcing <a href="http://www.usatoday.com/story/news/nation/2013/12/08/cellphone-data-spying-nsa-police/3902809/">nearby phones</a> to connect to them
    </p>
  </div>
</div>
<div class="home-care">
  <div class="container-fluid">
  {{> homeCare}}
  </div>
</div>
<div class="home-03-explanation1">
  <div class="container-fluid">
    <p>
      Stingrays have been used to spy on many <a href="http://www.baltimoresun.com/news/maryland/crime/blog/bs-md-ci-stingray-new-disclosures-20150420-story.html">thousands of people</a>
    </p>
  </div>
</div>
<div class="home-03-explanation2">
  <div class="container-fluid">
    <p>
      Often targeting individuals solely for <a href="http://wgntv.com/2014/12/07/lawsuit-filed-against-chicago-police-department-over-concerns-of-phone-interceptions/">First Amendment activity</a>
    </p>
  </div>
</div>
<div id="home-flags">
  {{> homeFlags}}
</div>
<div>
  <p>Use {App Name} to know when you are at risk and warn your friends nearby</p>
  <h2>
    {App Name}
  </h2>
</div>
</div>
</template>