<template name="homeNDA">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="home-nda-text">
      <h2 id="home-nda-title">
        But <a href="http://www.wired.com/2014/06/feds-seize-stingray-documents">non-disclosure agreements</a> between local police and the FBI have kept the device secret from the public and even from <a href="http://www.baltimoresun.com/news/maryland/baltimore-city/bs-md-ci-stingray-case-20150408-story.html#page=1">the courts.</a>
      </h2>

    </div>
  </div>
</div>
</template>