<template name="homeCare">
<div class="row home-care-problems">
  <h3 id="home-care-title">
    Stingrays can capture information from <u>all cell phones</u> within range, including:
  </h3>
  <div class="home-care-icons">
    <div class ="col-md-3"><i class="flaticon-identification27">identity</i></div>
    <div class ="col-md-3"><i class="flaticon-pin67">location</i></div>
    <div class ="col-md-3"><i class="flaticon-telephone114">call logs</i></div>
    <div class ="col-md-3"><i class="flaticon-speechbubble56">SMS</i></div>
  </div>
</div>
</template>