<template name="homeCare">
  <p>
    Stingrays can capture information from all of the cell phones within range, including your:
  </p>
  <div class="row homeCare-problems">
    <div class ="col-md-3 col-md-offset-3"><i class="flaticon-identification27">identity</i></div>
    <div class ="col-md-3"><i class="flaticon-pin67">location</i></div>
    <div class ="col-md-3 col-md-offset-3"><i class="flaticon-telephone114">call logs</i></div>
    <div class ="col-md-3"><i class="flaticon-speechbubble56">SMS</i></div>
  </div>
</template>