<template name="homeFlags">
  <div class="row">
    <div class="col-md-1 flag-col"><img src="home/flags/alaska.jpg" class="flag img-responsive"></div>
    <div class="col-md-1 flag-col"><img src="home/flags/arizona.jpg" class="flag img-responsive"></div>
    <div class="col-md-1 flag-col"><img src="home/flags/california.jpg" class="flag img-responsive"></div>
    <div class="col-md-1 flag-col"><img src="home/flags/dc.jpg" class="flag img-responsive"></div>

    <div class="col-md-1 flag-col"><img src="home/flags/delaware.jpg" class="flag img-responsive"></div>
    <div class="col-md-1 flag-col"><img src="home/flags/florida.jpg" class="flag img-responsive"></div>
    <div class="col-md-1 flag-col"><img src="home/flags/georgia.jpg" class="flag img-responsive"></div>
    <div class="col-md-1 flag-col"><img src="home/flags/idaho.jpg" class="flag img-responsive"></div>

    <div class="col-md-1 flag-col"><img src="home/flags/illinois.jpg" class="flag img-responsive"></div>
    <div class="col-md-1 flag-col"><img src="home/flags/indiana.jpg" class="flag img-responsive"></div>
    <div class="col-md-1 flag-col"><img src="home/flags/louisiana.jpg" class="flag img-responsive"></div>
    <div class="col-md-1 flag-last"><img src="home/flags/maryland.jpg" class="flag img-responsive"></div>

    <div class="col-md-1 col-md-offset-1 flag-new"><img src="home/flags/michigan.jpg" class="flag img-responsive"></div>
    <div class="col-md-1 flag-col"><img src="home/flags/minnesota.jpg" class="flag img-responsive"></div>
    <div class="col-md-1 flag-col"><img src="home/flags/missouri.jpg" class="flag img-responsive"></div>
    <div class="col-md-1 flag-col"><img src="home/flags/northcarolina.jpg" class="flag img-responsive"></div>

    <div class="col-md-1 flag-col"><img src="home/flags/newyork.jpg" class="flag img-responsive"></div>
    <div class="col-md-1 flag-col"><img src="home/flags/pennsylvania.jpg" class="flag img-responsive"></div>
    <div class="col-md-1 flag-col"><img src="home/flags/texas.jpg" class="flag img-responsive"></div>
    <div class="col-md-1 flag-col"><img src="home/flags/virginia.jpg" class="flag img-responsive"></div>

    <div class="col-md-1 flag-col"><img src="home/flags/washington.jpg" class="flag img-responsive"></div>
    <div class="col-md-1 flag-col"><img src="home/flags/wisconsin.jpg" class="flag img-responsive"></div>
  </div>
</template>