<template name="homeCare">
  <p>
    Stingrays can capture information from all of the cell phones within range, including your:
  </p>
  <div class="row homeCare-problems">
    <div class ="col-md-3 col-md-offset-3"><i class="flaticon-identification27">identity</i></div>
    <div class ="col-md-3"><i class="flaticon-pin67">location</i></div>
    <div class ="col-md-3 col-md-offset-3"><i class="flaticon-telephone114">call logs</i></div>
    <div class ="col-md-3"><i class="flaticon-speechbubble56">text messages</i></div>
  </div>
  <p>
    But <a href="http://www.wired.com/2014/06/feds-seize-stingray-documents">non-disclosure agreements</a> between local police and the FBI have kept the device secret from the public
  </p>
  <p>
  and often even from <a href="http://www.baltimoresun.com/news/maryland/baltimore-city/bs-md-ci-stingray-case-20150408-story.html#page=1">the courts</a>
  </p>
</template>