<template name="learn">
<div class="container">
  <h1>STINGRAYS</h1>
  <p class="learn-bullet text-center"><a href="https://www.aclu.org/issues/privacy-technology/surveillance-technologies/stingray-tracking-devices">Mimic cell phone towers</a>, forcing your phone to connect to them and release private information to police</p>

  <p class="learn-bullet text-center">Mobile, suitcase-sized, and often <a href="https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Unmasked-Spies">installed in police vehicles</a></p>

  <p class="learn-bullet text-center">Collect information from target phones and any <a href="http://www.usatoday.com/story/news/nation/2013/12/08/cellphone-data-spying-nsa-police/3902809/">others within range</a></p>

  <p class="learn-bullet text-center">Often used <a href="http://www.slate.com/articles/technology/future_tense/2014/11/stingrays_imsi_catchers_how_local_law_enforcement_uses_an_invasive_surveillance.single.html">without warrants</a></p>

  <p class="learn-bullet text-center">May be used to <a href="http://wgntv.com/2014/12/07/lawsuit-filed-against-chicago-police-department-over-concerns-of-phone-interceptions/">spy on protestors</a></p>

  <p class="learn-bullet text-center">Kept <a href="http://www.baltimoresun.com/news/maryland/baltimore-city/bs-md-ci-stingray-case-20150408-story.html#page=1">secret from the public</a> and often even from the courts</p>

  <p class="learn-bullet text-center">Something <a href="http://www.rt.com/usa/259105-fbi-stingray-nondisclosure-agreement/">ELSE</a></p>
</div>
<div class="end"></div>
</template>