<template name="do">
<div class="container-fluid" id="care">
  <section>
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <span class="protect-yourself">Protect yourself</span>
        <div class="row marginTop25">
          <div class="col-md-8">
            <a href="#" class="pull-left">
              <img src="googleplay.jpg">
              <h2>Download for Android</h2>
            </a>
          </div>
          <div class="col-md-4">
            <a href="#" class="pull-right">
              <img src="github.jpg">
              <h2>Fork the project</h2>
            </a>
          </div>
        </div>
        <p class="marginTop50">We’ve created a modified version of an Android app to notify you when your device is likely connected to a Stingray and to plot those threats onto the map above. The map will help us understand patterns of Stingray use, including which neighborhoods and political events are targeted.</p>
      </div>
      <div class="col-md-4">
        <img src="/app_screenshot.jpg" class="img-responsive img-center">
      </div>
    </div>
  </section>
</div>
</template>