<template name="doContributeCode">
<h2>Contribute Code</h2>
<p>This project runs on three different open source projects. If you can code, please fork the project and send us some pull requests.</p>

<div class="row development-details">
  <div class="col-md-11 col-md-offset-1">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <h4>App Details</h4>
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <ul>
              <li>Built with Android</li>
              <li>Forked from an <a href="https://github.com/SecUpwN/Android-IMSI-Catcher-Detector">existing Android app</a></li>
              <li>Get our source <a href="https://github.com/marvinmarnold/Android-IMSI-Catcher-Detector">here</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h4>Website Details</h4>
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <ul>
              <li>Built with Meteor</li>
              <li>Get the source <a href="https://github.com/marvinmarnold/imsi-mapper">here</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h4>Database Server Details</h4>
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <ul>
              <li>Built with Ruby on Rails</li>
              <li>Get the source <a href="https://github.com/marvinmarnold/stingraymappingproject.org">here</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>