<template name="doContributeCode">
<h2>Contribute Code</h2>
<p>This project runs on <strike>three</strike> four different open source projects. If you can code, please fork the project and send us some pull requests.</p>

<div class="row development-details">
  <div class="col-md-11 col-md-offset-1">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <h4>App Details</h4>
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p>This app is currently optimized to detect threats from IMSI-catchers, AKA Stingrays.
            Police are actively developing <a href="http://www.computerworld.com/article/2600348/mobile-security/are-your-calls-being-intercepted-17-fake-cell-towers-discovered-in-one-month.html">new technologies</a> we are not yet able to detect. Lend a hand, and help us keep up with escalating police tactics.</p>
            <ul>
              <li>Built with Android</li>
              <li>Forked from an <a href="https://github.com/SecUpwN/Android-IMSI-Catcher-Detector">existing Android app</a></li>
              <li>Get our source <a href="https://github.com/marvinmarnold/Android-IMSI-Catcher-Detector">here</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h4>Website Details</h4>
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <ul>
              <li>Built with Meteor</li>
              <li>Get the source <a href="https://github.com/marvinmarnold/imsi-mapper">here</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h4>Database Server Details</h4>
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <ul>
              <li>Built with Ruby on Rails</li>
              <li>Get the source <a href="https://github.com/marvinmarnold/stingraymappingproject.org">here</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <h4>Android API Helper</h4>
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <ul>
              <li>An Android module so you can build your own app with our API.</li>
              <li>Get the source <a href="https://github.com/marvinmarnold/StingrayAPIClient">here</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>